header{
    background-color: blue;
}

.header-title {
    text-align: center;
    padding: 25px;
    font-size: 50px;
    color: whitesmoke
    
}

main {
    padding: 15px;
}

.cities {
    margin: 15px auto;
    display: grid;
    align-items: center;

}

.information-parts {
    margin: 15px auto;
    display: grid;
    align-items: center;


  
}

.weather-stats{
    display: flex;
    flex-direction: row;
    background-color:beige;
}

button {
    margin: 7px auto;
    border-radius: 7px;
    width: 90%;
}

input {
    width: 90%;
    border-radius: 7px;
    margin: 7px auto;
}

.center{
    align-items: center;
    margin: auto;
}

.center-forecast {
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    background-color:paleturquoise;;
}

.city-block{
    margin: 25px 50px;
}

.center{
    align-items: center;
    margin: auto;
}

.center-future-days{
    align-items: center;
    margin: 10px auto;
    text-align: center
}

img{
    align-items: center;
}